# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Artifacts of running emacs
custom.el
elpa/
eln-cache/
network-security.data
readme.el
bookmarks
projects
themes
ac-comphist.dat%
auto-save
url/
eshell/
projectile-bookmarks.eld
transient/

elpy/
